 /* Christina Chen */
 /* Main Page Styling */
.appt-creation {
    height: 125vh;
    width: 100vw;
}

.create-appt-icon {
    height: 8vh;
    object-fit: cover;
}
.create-appt-content {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-appt-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height : 15%;
    color: #3d0db2;
}

/* Success Modal Styling */
.created-appt-url-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.created-appt-url-section .copy-icon-btn {
    width: 3vw;
    min-width: 60px;
    margin:0px;
}
.created-appt-url-section .copy-icon-btn:hover{
    cursor: pointer;
}
.created-appt-url-section .copy-icon-btn img {
    width:100%;
    height:auto;
}

.created-appt-url-section img {
    border-radius: 5px;
}
p.appt-url{
    font-weight: bold;
}

.modal .appt-copy-confirmation {
    color: #5EE044;
    font-weight: bold;
    min-height: 18px;
}

/* Responsive Styling */
@media (max-width: 800px){
    .created-appt-url-section .copy-icon-btn {
        width: 3vw;
        min-width: 50px;
        margin:0px;
    }
}