.poll-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  width: 100vw;
  background-color: #fffbf5;
}

.poll-header {
  text-align: center;
  color: #3D0DB2;
  margin: 30px auto;
}

.poll-container {
  max-width: 700px;
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  flex-direction: column;
  min-height: fit-content;
  position: relative;
}


.poll-page label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #085A77;
}

.poll-name-input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 44px;
  resize: vertical;
  box-sizing: border-box;
}

.poll-page
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 44px;
  resize: vertical;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.poll-options h3 {
  margin-top: 20px;
  color: #333;
}

.poll-page button {
  padding: 10px 15px;
  background-color: #085a77;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.poll-page button:hover {
  background-color: #064a5b;
}

.poll-page .options-list {
  margin-top: 20px; 
}

.poll-page .option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.poll-page .poll-create {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.poll-page .poll-options-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.poll-page .poll-options-row label {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.poll-page .poll-options-row input {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.poll-page .poll-options-row-std {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.poll-page .poll-options-row-std input[type="date"],
.poll-page .poll-options-row-std input[type="time"] {
  flex: 1;
  min-width: 200px;
  padding: 20px;
}

.poll-page .poll-options-row-std label {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.poll-page .poll-options-row-std input {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.poll-page .poll-options-actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.poll-page .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.poll-page .modal {
  background: white;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  position: relative;
}

.poll-page .modal .close-btn {
  text-align: center;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: block;
  margin: 10px auto 0;
}

.poll-page .modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.poll-page .modal-message {
  font-size: 16px;
  margin-bottom: 0px;
}

.poll-page .modal-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.poll-page .modal-link:hover {
  text-decoration: underline;
}

.poll-page .modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 10px;
}

.poll-page .poll-error-message {
  color: red;
}

.poll-page .modal-link-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
  word-wrap:break-word;
}

.poll-page .copy-icon-btn {
  background: none !important;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.poll-page .copy-icon-btn:hover {
  color: #0056b3;
}

.poll-page .copy-icon-img {
  align-items: center;
  width: 15px;
  height: auto;
}

.poll-page .copy-confirmation {
  color: green;
  font-size: 14px;
  margin-top: 15px;
}

.poll-page body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

footer {
  margin-top: auto;
}

.poll-page input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 44px;
  resize: vertical;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .poll-page .poll-options-row label {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }

  .poll-page .poll-options-row-std {
    flex-wrap: wrap;
  }
}


