.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #085A77;
    height: 3vh;
    padding: 0 5%;
}

.footer p {
    color: white;
    margin: 0;
    text-align: center;
}
