/* page background color */
.bg {
  background-color: #fffbf5;
}

/* white box with shadow */
.container-box {
  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 10px gray);
}
