/* page background color */
.bg {
  background-color: #fffbf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: open-sans, Inter, sans-serif, "Arial", "Times", "Times New Roman";
  /* 'Georgia' as the primary, with fallbacks to 'Times New Roman' and 'Arial' */
}

p {
  font-family: Inter, sans-serif, "Arial", "Times", "Times New Roman";
}

/* white box with shadow */
.container-box {
  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 10px gray);
}
