.poll-management {
    width: 100vw;
    height: 100vh;
}
.poll-management-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poll-management-content h1 {
    color: #3d0db2;
}

.poll-modal .modal-content {
    width: 90%;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}